/*Hillary Ssemakula
hillary_ssemakula@student.uml.edu
 COMP 4270 GUI Computer Graphics I UMass Lowell
Final Project
custom css styles page for the Shape editor program.


*/



#wrapper {
  height: 100vh;
  min-width: 1280px;
}

#canvas {
  /*border-radius: 25px; good design but makes coordinates inaccurate */
  background-color: white;
}

#shape_menu {}

.shapeHover {
  background-color: rgba(255, 255, 255, 0);
  border: 1px dashed #85C1E9;
}

#lineColorDiv, #fillColorDiv {
  background-color: #2E86C1;
}

#customizationMenu {
  border: 1px solid white;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
